@use "abstract/mixin";
@use "abstract/variable" as var;


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: hsla(228, 6%, 16%, 1);
    background: linear-gradient(45deg, hsla(228, 6%, 16%, 1) 19%, hsla(271, 30%, 31%, 1) 86%);
    background: -moz-linear-gradient(45deg, hsla(228, 6%, 16%, 1) 19%, hsla(271, 30%, 31%, 1) 86%);
    background: -webkit-linear-gradient(45deg, hsla(228, 6%, 16%, 1) 19%, hsla(271, 30%, 31%, 1) 86%);
    color: var.$textColor;
}
